.tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    overflow: hidden;
    min-height: 100vh;
}

.tabs input:focus {
     outline: none;
}

.tabs .tab label {
    padding: .5em 0;
    border-bottom: 2px solid #bdbdbd;
    display: block;
    cursor: pointer;
    color: #bdbdbd;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tabs .tab [type="radio"]:checked + label {
    color: #ffa000;
}

.tabs .tab [type="radio"] {
    width: 100%;
    display: block;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tabs .tab [type="radio"]:hover ~ label,
.tabs .tab [type="radio"]:focus ~ label {
    border-bottom: 2px solid #ffa000;
}

.tabs .tab [type="radio"]:checked ~ label {
    border-bottom: 4px solid #ffa000;
    border-radius: 0 0 2px 2px;
}

.tabs .tab [type="radio"]:checked ~ div {
    height: auto;
    opacity: 1;
}
.tabs .tab [type="radio"] ~ div{
    width: 90%;
    height: 0;
    padding: 2rem 0;
    display: block;
    opacity: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}