.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}

.tabs input:focus {
     outline: none;
}

.tabs .tab label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center;
}

.tabs .tab [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs .tab [type="radio"]:hover,
.tabs .tab [type="radio"]:focus {
    border-bottom: 1px solid #fd264f;
}

.tabs .tab [type="radio"]:checked {
    border-bottom: 2px solid #fd264f;
}

.tabs .tab [type="radio"]:checked + div {
    opacity: 1;
}
.tabs .tab [type="radio"] + div{
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}