@charset 'UTF-8'
@import "config" 

body
	margin: 0
	padding: 0
	background-color: color("grey", "darken-4")

svg
	height: 100%
	width: 100%
	position: absolute
	z-index: 1

svg.top
	-webkit-filter: drop-shadow(0px 2px 5px #000)
    filter: drop-shadow(0px 2px 5px #000)
	polygon
		fill: color("grey", "base")

svg.bottom
	-webkit-filter: drop-shadow(0px -4px 5px #000)
    filter: drop-shadow(0px -4px 5px #000)

	polygon
		fill: color("grey", "darken-3")

svg.text
	text
		font-size: 3em
		text-transform: uppercase
		font-family: Roboto
		font-weight: 200
		fill: color("grey", "darken-3")
		text-decoration: none

a.sources
	position: absolute
	bottom: 40px 
	right: 50px
	z-index: 2

h1.d-header
	bottom: 50px
	right: 40px
	position: absolute
	color: $secondary-color
	font-weight: 900
	font-size: 12em
	z-index: 0

a.more
	position: absolute
	bottom: 50px
	left: 50px
	z-index: 2

a.btn-huge
	width: 160px
	height: 160px
	
	i
		line-height: 155px
		font-size: 9em
		color: color("grey", "darken-3")
		transition: .3s ease-out

a.btn-huge:hover
	@extend .z-depth-5

	i
		color: color("grey", "base")

@media screen and (max-width: 1369px)
	a.sources
		bottom: 140px 
		right: 30px

	h1.d-header
		bottom: 150px
		right: 20px
