@charset 'UTF-8'
@import "config" 

body
	margin: 0
	padding: 0
	height: 100%
	background-color: color("grey", "darken-4")

.navbar-fixed
	height: 0

	nav
		height: 0

.nav-padding
	height: 56px
	position: relative

	@media only screen and (min-width: 601px)
		height: 64px

.nav-trigger
	height: 112px
	width: 112px

	svg
		polygon
			transition: .3s ease-out
			fill: color("blue", "base")

	a
		font-size: 3em
		color: color("grey", "lighten-2")
		position: relative
		z-index: 2

		i 
			font-size: 1.25em
 
.nav-trigger.about_me
	svg
		polygon
			fill: color("blue", "darken-3")

.nav-trigger.websites
	svg
		polygon
			fill: color("green", "darken-3")

.nav-trigger.games
	svg
		polygon
			fill: color("red", "darken-3")

.nav-trigger.apps
	svg
		polygon
			fill: color("purple", "darken-3")

.nav-trigger.support_me
	svg
		polygon
			fill: color("amber", "darken-3")

.nav-trigger.contact
	svg
		polygon
			fill: color("blue-grey", "darken-2")

#nav-wrapper
	position: fixed
	height: 112px
	width: 112px
	left: 0 
	top: 0
	z-index: 8

#mobile-nav 
	z-index: 1

	a 
		color: $secondary-color

.vertical-bullet-menu
	bottom: 0
	margin-left: 50px
	position: fixed
	transition: .3s ease-out
	z-index: 999

	a
		margin: 15px 0
		display: block
		line-height: 30px
		height: 30px

		i,
		span
			font-size: 1.75em
			color: color("grey", "base")
			transition: .3s ease-out

		span
			font-size: 1.25em
			margin-left: 10px
			line-height: normal
			display: inline-block
			padding-top: 3px
			vertical-align: top
			width: 0
			overflow: hidden
			transition: .5s ease-in-out

	a:hover
		i,
		span
			color: color("grey", "lighten-2")

		span
			width: 200px

	a.expanded
		span
			width: 200px

	a.active
		i,
		span
			color: color("blue", "base")

	a.disabled,
	a.disabled:hover,
	a.disabled:focus,
	a.disabled:active
		pointer-events: none
   		cursor: default

		i,
		span
			color: color("grey", "darken-3")

	a[href="#websites"].active
		i,
		span
			color: color("green", "base")

	a[href="#games"].active
		i,
		span
			color: color("red", "base")

	a[href="#apps"].active
		i,
		span
			color: color("purple", "base")

	a[href="#support_me"].active
		i,
		span
			color: color("amber", "base")

	a[href="#contact"].active
		i,
		span
			color: color("blue-grey", "base")

.vertical-bullet-menu.close
	-ms-transform: translate(-200%, 0)
	-webkit-transform: translate(-200%, 0)
	transform: translate(-200%, 0)
	opacity: 0
 
#sidenav-overlay
	z-index: 899!important
	height: 100%

svg
	height: 100%
	width: 100%
	position: absolute
	z-index: 1

.section
	position: relative
	width: 100%
	height: auto
	min-height: 100vh
	padding: 0

	h2
		font-weight: 900
		text-transform: uppercase
		padding-top: 20px
		font-size: 6em

		@media screen and (max-width: 992px)
				font-size: 3.75em
				text-align: right
				padding-right: 20px

	svg.top
		-webkit-filter: drop-shadow(0px 2px 5px #000)
		filter: drop-shadow(0px 2px 5px #000)

	svg.bottom
		-webkit-filter: drop-shadow(0px -4px 5px #000)
		filter: drop-shadow(0px -4px 5px #000)

#main_section
	.hide-on-med-and-down
		svg.top
			polygon
				fill: color("grey", "base")

		svg.bottom
			polygon
				fill: color("grey", "darken-3")

		svg.text
			text
				font-size: 3em
				text-transform: uppercase
				font-family: Roboto
				font-weight: 200
				fill: color("grey", "darken-3")
				text-decoration: none

		a.sources
			position: absolute
			bottom: 40px 
			right: 50px
			z-index: 2

		h1.d-header
			bottom: 50px
			right: 40px
			position: absolute
			color: $secondary-color
			font-weight: 900
			font-size: 12em
			z-index: 0

		a.more
			position: absolute
			bottom: 50px
			left: 50px
			z-index: 2

		a.btn-huge
			width: 160px
			height: 160px
			
			i
				line-height: 155px
				font-size: 9em
				color: color("grey", "darken-3")
				transition: .3s ease-out

		a.btn-huge:hover
			@extend .z-depth-5

			i
				color: color("grey", "base")

		@media screen and (max-width: 1369px)
			a.sources
				bottom: 140px 
				right: 30px

			h1.d-header
				bottom: 150px
				right: 20px

	.hide-on-large-only.center
		margin-top: -64px
		
		h1.d-header
			margin-top: 0
			padding-top: 114px
			padding-bottom: 10px
			color: $secondary-color
			font-size: 5.2em
			font-weight: 900

		h2.desc
			color: color("grey", "base")
			margin: 10px 10px 
			font-weight: 200
			padding-top: 0
			font-size: 2.75em

		a.sources
			margin-top: 50px

		a.more
			position: absolute
			display: block
			left: calc(50% - 28px)
			right: calc(50% - 28px)
			bottom: 20px

			i
				color: color("grey", "base")

		a.more:hover
			@extend .z-depth-5

			i
				color: #fff

#about_me_section

	svg.top
		polygon
			fill: color("blue", "darken-3")

	svg.bottom
		polygon
			fill: color("blue", "base")

	h2
		color: color("blue", "base")

	p
		color: color("grey", "lighten-1")
		text-align: justify

	.center-row
		height: calc(100vh - 300px)

#websites_section
	padding-bottom: 25vh
	margin-bottom: 25vh

	svg.top
		polygon
			fill: color("green", "darken-3")

	svg.bottom
		polygon
			fill: color("green", "base")

	h2
		color: color("green", "base")

	p
		color: color("grey", "lighten-1")
		text-align: justify

	.card
		z-index: 2

#games_section

	svg.top
		polygon
			fill: color("red", "darken-3")

	svg.bottom
		polygon
			fill: color("red", "darken-1")

	h2
		color: color("red", "base")

	p
		color: color("grey", "lighten-1")
		text-align: justify

	.card
		z-index: 2

#apps_section

	svg.top
		polygon
			fill: color("purple", "darken-3")

	svg.bottom
		polygon
			fill: color("purple", "base")

	h2
		color: color("purple", "base")

	p
		color: color("grey", "lighten-1")
		text-align: justify

	.card
		z-index: 2

#support_me_section

	svg.top
		polygon
			fill: color("amber", "darken-3")

	svg.bottom
		polygon
			fill: color("amber", "base")

	svg.text
		text
			font-size: 3em
			text-transform: uppercase
			font-family: Roboto
			font-weight: 200
			fill: color("grey", "darken-4")
			text-decoration: none

	h2
		color: color("amber", "base")

	p
		color: color("grey", "lighten-1")
		text-align: justify

	.card
		z-index: 2

#contact_section

	svg.top
		polygon
			fill: color("blue-grey", "darken-2")

	svg.bottom
		polygon
			fill: color("blue-grey", "base")

	h2
		color: color("blue-grey", "base")

.row.last
	margin-bottom: 0