@charset 'UTF-8'
@import "config" 

body
	margin: 0
	padding: 0
	height: 100%
	background-color: color("grey", "darken-4")

.navbar-fixed
	height: 0

	nav
		height: 0

.nav-padding
	height: 56px
	position: relative

	@media only screen and (min-width: 601px)
		height: 64px

.nav-trigger
	height: 112px
	width: 112px

	svg
		polygon
			transition: .3s ease-out
			fill: color("blue", "base")

	a
		font-size: 3em
		color: color("grey", "lighten-2")
		position: relative
		z-index: 2

		i 
			font-size: 1.25em
 
.about_me
	svg
		polygon
			fill: color("blue", "darken-3")

.websites
	svg
		polygon
			fill: color("green", "darken-3")

.games
	svg
		polygon
			fill: color("red", "darken-3")

.apps
	svg
		polygon
			fill: color("purple", "darken-3")

.support_me
	svg
		polygon
			fill: color("amber", "darken-3")

.contact
	svg
		polygon
			fill: color("blue-grey", "darken-2")

#nav-wrapper
	position: fixed
	height: 112px
	width: 112px
	left: 0 
	top: 0
	z-index: 8

#mobile-nav 
	z-index: 1

	a 
		color: $secondary-color

.vertical-bullet-menu
	bottom: 0
	margin-left: 50px
	position: fixed
	transition: .3s ease-out
	z-index: 999

	a
		margin: 15px 0
		display: block
		line-height: 30px
		height: 30px

		i,
		span
			font-size: 1.75em
			color: color("grey", "base")
			transition: .3s ease-out

		span
			font-size: 1.25em
			margin-left: 10px
			line-height: normal
			display: inline-block
			padding-top: 3px
			vertical-align: top
			width: 0
			overflow: hidden
			transition: .5s ease-in-out

	a:hover
		i,
		span
			color: color("grey", "lighten-2")

		span
			width: 200px

	a.expanded
		span
			width: 200px

	a.active
		i,
		span
			color: color("blue", "base")

	a.disabled,
	a.disabled:hover,
	a.disabled:focus,
	a.disabled:active
		pointer-events: none
		cursor: default

		i,
		span
			color: color("grey", "darken-3")

	a[href="#websites"].active
		i,
		span
			color: color("green", "base")

	a[href="#games"].active
		i,
		span
			color: color("red", "base")

	a[href="#apps"].active
		i,
		span
			color: color("purple", "base")

	a[href="#support_me"].active
		i,
		span
			color: color("amber", "base")

	a[href="#contact"].active
		i,
		span
			color: color("blue-grey", "base")

.vertical-bullet-menu.close
	-ms-transform: translate(-200%, 0)
	-webkit-transform: translate(-200%, 0)
	transform: translate(-200%, 0)
	opacity: 0
 
#sidenav-overlay
	z-index: 899!important
	height: 100%

svg
	height: 100%
	width: 100%
	position: absolute
	z-index: 1

.section
	position: relative
	width: 100%
	height: auto
	min-height: 100vh
	padding: 0

	h2
		font-weight: 900
		text-transform: uppercase
		padding-top: 20px
		margin-bottom: 40px
		font-size: 6em

		@media screen and (max-width: 992px)
			font-size: 3.75em
			text-align: right
			padding-right: 20px

		@media screen and (max-height: 800px)
			margin-bottom: 20px
			margin-top: 0

	svg.top
		-webkit-filter: drop-shadow(0px 2px 5px #000)
		filter: drop-shadow(0px 2px 5px #000)

	svg.bottom
		-webkit-filter: drop-shadow(0px -4px 5px #000)
		filter: drop-shadow(0px -4px 5px #000)

#main_section
	.hide-on-med-and-down
		svg.top
			polygon
				fill: color("grey", "base")

		svg.bottom
			polygon
				fill: color("grey", "darken-3")

		svg.text
			text
				font-size: 3em
				text-transform: uppercase
				font-family: Roboto
				font-weight: 200
				fill: color("grey", "darken-3")
				text-decoration: none

		a.sources
			position: absolute
			bottom: 40px 
			right: 50px
			z-index: 2

		h1.d-header
			bottom: 50px
			right: 40px
			position: absolute
			color: $secondary-color
			font-weight: 900
			font-size: 12em
			z-index: 0

		a.more
			position: absolute
			bottom: 50px
			left: 50px
			z-index: 2

		a.btn-huge
			width: 160px
			height: 160px
			
			i
				line-height: 155px
				font-size: 9em
				color: color("grey", "darken-3")
				transition: .3s ease-out

		a.btn-huge:hover
			@extend .z-depth-5

			i
				color: color("grey", "base")

		@media screen and (max-width: 1369px)
			a.sources
				bottom: 140px 
				right: 30px

			h1.d-header
				bottom: 150px
				right: 20px

	.hide-on-large-only.center
		margin-top: -64px
		
		h1.d-header
			margin-top: 0
			padding-top: 114px
			padding-bottom: 10px
			color: $secondary-color
			font-size: 5.2em
			font-weight: 900

		h2.desc
			color: color("grey", "base")
			margin: 10px 10px 
			font-weight: 200
			padding-top: 0
			font-size: 2.75em

			@media screen and (max-width: 992px)
				text-align: center
				padding-right: 0

		a.sources
			margin-top: 50px

		a.more
			position: absolute
			display: block
			left: calc(50% - 28px)
			right: calc(50% - 28px)
			bottom: 20px

			i
				color: color("grey", "base")

		a.more:hover
			@extend .z-depth-5

			i
				color: #fff

#about_me_section

	svg.top
		polygon
			fill: color("blue", "darken-3")

	svg.bottom
		polygon
			fill: color("blue", "base")

	h2
		color: color("blue", "base")

	p
		color: color("grey", "lighten-1")
		text-align: justify

	.center-row
		height: calc(100vh - 300px)

#websites_section
	margin-bottom: 25vh

	svg.top
		polygon
			fill: color("green", "darken-3")

	svg.bottom
		polygon
			fill: color("green", "base")

	h2
		color: color("green", "base")

	p
		color: color("grey", "lighten-1")
		text-align: justify

#games_section
	margin-bottom: 25vh

	svg.top
		polygon
			fill: color("red", "darken-3")

	svg.bottom
		polygon
			fill: color("red", "base")

	h2
		color: color("red", "base")

	p
		color: color("grey", "lighten-1")
		text-align: justify

	.card
		z-index: 2

#apps_section
	margin-bottom: 25vh

	svg.top
		polygon
			fill: color("purple", "darken-3")

	svg.bottom
		polygon
			fill: color("purple", "base")

	h2
		color: color("purple", "base")

	p
		color: color("grey", "lighten-1")
		text-align: justify

#support_me_section

	svg.top
		polygon
			fill: color("amber", "darken-3")

	svg.bottom
		polygon
			fill: color("amber", "base")

	svg.text
		text
			font-size: 3em
			text-transform: uppercase
			font-family: Roboto
			font-weight: 200
			fill: color("grey", "darken-4")
			text-decoration: none

	h2
		color: color("amber", "base")

	p
		color: color("grey", "lighten-1")
		text-align: justify

#contact_section

	svg.top
		polygon
			fill: color("blue-grey", "base")

	svg.bottom
		polygon
			fill: color("blue-grey", "darken-4")

	h2
		color: color("blue-grey", "base")

	a.contact
		display: block
		margin-bottom: 20px
		height: 20vh
		background-color: color("grey", "darken-3")
		transition: .3s ease-out
		border-radius: 3px
		@extend .z-depth-3
		position: relative
		z-index: 2
		transition: .3s ease-out

		svg
			height: 20vh
			width: 20vh
			right: 0

			polygon
				fill: color("blue-grey", "base")
				transition: .3s ease-out

		i 
			color: color("grey", "darken-3")
			height: 20vh
			width: 20%
			text-align: center
			line-height: 20vh
			display: inline-block
			padding: 0 10px
			background-color: color("blue-grey", "lighten-1")
			font-size: 3em
			@extend .z-depth-2
			transition: .3s ease-out

		span
			color: color("grey", "lighten-1")
			vertical-align: top
			font-size: 1.5em
			height: 20vh
			line-height: 20vh
			width: 80%
			padding: 0 10px
			display: inline-block
			text-align: center
			transition: .3s ease-out

	a.contact:hover
		@extend .z-depth-5

		i 
			background-color: color("grey", "base")
			@extend .z-depth-4

		span
			color: color("grey", "lighten-2")

		svg
			polygon
				fill: color("grey", "base")

.row.last
	margin-bottom: 0

a.tile
	margin-bottom: 20px
	background-color: color("grey", "darken-3")
	transition: .3s ease-out
	border-radius: 3px
	@extend .z-depth-3

	.img-wrapper
		line-height: 0
		box-sizing: border-box
		@extend .z-depth-2
		max-width: 100%
		background-color: color("grey", "darken-2")
		padding: 0
		margin: 0
		transition: .3s ease-out

	img
		@extend .z-depth-1
		-webkit-filter: saturate(0.15)
		filter: saturate(0.15)
		padding: 0
		margin: 0
		transition: .3s -webkit-filter ease-out
		transition: .3s ease-out
		z-index: 2

		@media screen and (max-height: 800px)
			max-width: 75%

	svg
		z-index: -1

		polygon
			transition: .3s ease-out

	svg.bottom
		-webkit-filter: drop-shadow(0px -4px 5px color("grey", "darken-4"))
		filter: drop-shadow(0px -5px 5px color("grey", "darken-4"))

	span
		color: color("grey", "lighten-2")
		margin-left: 10px
		display: block
		padding: 5px
		font-size: 18px
		font-weight: 600
		letter-spacing: 1.5px

a.tile:hover
	@extend .z-depth-5

	img-wrapper
		@extend .z-depth-4

	img
		@extend .z-depth-2
		-webkit-filter: saturate(1)
		filter: saturate(1)

	svg
		polygon
			fill: color("grey", "base")!important

.container-left
	@media only screen and (min-width: 993px)
		width: 80%
		margin-right: 50px

	@media only screen and (min-width: 601px)
		margin-right: 50px

.modal#info_modal
	max-height: 100%
	width: 100%
	background-color: transparent
	box-shadow: none

	.close-wrapper
		position: fixed
		height: 82px
		width: 82px
		right: 0 
		top: 0

		a
			color: color("grey", "lighten-2")
			position: absolute
			right: 5px
			top: 5px
			z-index: 1024

			i 
				font-size: 2.5em
		
		svg
			z-index: 1023

	.modal-content
		background-color: color("grey", "darken-3")
		@extend .z-depth-4
		padding: 10px 20px
		margin: 10px
		color: color("grey", "lighten-1")

	.modal-content.main
		padding-top: 5px
		padding-bottom: 5px
		max-height: 55vh

		img
			max-height: 45vh
			@extend .z-depth-2

		h4
			margin-top: 10px 
			margin-bottom: 0
			font-size: 26px
			font-weight: 600
			letter-spacing: 1.5px

	.modal-content.description,
	.modal-content.software
		text-align: justify
		overflow: auto
		height: calc(45vh - 40px)
		max-height: calc(45vh - 40px)
		box-sizing: border-box

	.modal-content.software
		margin-top: 10px
		height: calc(100vh - 20px)
		max-height: calc(100vh - 20px)

		h5
			font-size: 1.25em
			font-weight: 55500
		ul
			li 
				margin: 10px
				text-transform: uppercase

			li::before
				content: "■ "
				font-size: 1.5em
				
		ul.websites
			li::before
				color: color("green", "base")
				
		ul.games
			li::before
				color: color("red", "base")
				
		ul.apps
			li::before
				color: color("purple", "base")

	.modal-content.links
		height: 56px

		.col 
			padding: 0


