.card {
    margin: 10px;
    background: repeating-linear-gradient(
            45deg,
            #ffa000,
            #ffa000 2px,
            transparent 2px,
            transparent 10px
    );
}

.card .image-container img {
    width: 100%
}
