extends _template

block body
	.section#teaching
		svg.top.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon(points="0 0, 20 0, 0 40")
		svg.bottom.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon.bottom(points="100 65, 100 100, 80 100")
		.row
			.col.s11.l12.offset-s1
				h2.center Bazy Danych 
		.row.last
			.col.s10.l8.offset-l2.offset-s1
				.row
					h3 Prezentacje
					.collection
						a.collection-item(href="https://docs.google.com/presentation/d/1MRpXR6B1TcXWZ0EKvYivBvA3ISavJgVkwIv9cQL88iM/edit?usp=sharing" target="_blank") DDL i DML
						a.collection-item(href="https://docs.google.com/presentation/d/1wed6OgWxcQmQqaLDgkfa2ku2otR7QdyGg55pCAKk6TA/edit?usp=sharing" target="_blank") Transakcje
						a.collection-item(href="https://docs.google.com/presentation/d/1dwCfQuHe-QFkUq5db4G1s6D4ZnNzSnBU4lPPgQMeBNE/edit?usp=sharing" target="_blank") Indeksy
						a.collection-item(href="https://docs.google.com/presentation/d/133ZUCwxeKIvDroRBlBLJ6yr4hWgh3u7KlVj4FIx7AHY/edit?usp=sharing" target="_blank") Współbieżność: anomalie i poziomy izolacji
						a.collection-item(href="https://docs.google.com/presentation/d/1iFzGjMwE0m8ocwjAmPb-JUrAgbk1quxaerg5RYTuvhk/edit?usp=sharing" target="_blank") Współbieżność: blokady i zakleszczenia
						a.collection-item(href="https://docs.google.com/presentation/d/1O1qCjhFHsRS4pI-l3L-qjkik-JgJPW9v-PZX3jDwTkU/edit?usp=sharing" target="_blank") Administrowanie serwerami baz danych
						a.collection-item(href="https://docs.google.com/presentation/d/17VIX_zZoIWsplpSaOCqk7YBPUdNrl7KGEJ2XuwxpUWM/edit?usp=sharing" target="_blank") MySQL: Instrukcje warunkowe, zmienne, pętle
						a.collection-item(href="https://docs.google.com/presentation/d/1T4rT-gFRdfUqZpFKFfI8fTvBExDmiW3L2ZRG1i_bLk0/edit?usp=sharing" target="_blank") MySQL: Funkcje, procedury, wyzwalacze
					h3 Zadania
					.collection
						a.collection-item(href="data/test.zip" target="_blank") Test sprawdzający
						a.collection-item(href="data/database.sql" target="_blank") Baza danych
						a.collection-item(href="data/ddl_dml.pdf" target="_blank") DDL i DML
						a.collection-item(href="data/transakcje.pdf" target="_blank") Transakcje
						a.collection-item(href="data/indeksy.pdf" target="_blank") Indeksy
						a.collection-item(href="data/wspolbieznosc1.pdf" target="_blank") Współbieżność: anomalie i poziomy izolacji
						a.collection-item(href="data/wspolbieznosc2.pdf" target="_blank") Współbieżność: blokady i zakleszczenia
						a.collection-item(href="data/administracja.pdf" target="_blank") Administrowanie serwerami baz danych
						a.collection-item(href="data/if_loop.pdf" target="_blank") MySQL: Instrukcje warunkowe, zmienne, pętle
						a.collection-item(href="data/fun_proc_triggers.pdf" target="_blank") MySQL: Funkcje, procedury, wyzwalacze
						a.collection-item(href="data/raporty1.pdf" target="_blank") Access: Podstawowe raporty

					h3 Projekt
					.collection
						a.collection-item(href="data/projekt.pdf" target="_blank") Opis projektu

					h3 Przydatne linki
					.collection
						a.collection-item(href="https://dev.mysql.com/doc/" target="_blank") Dokumentacja MySQL
						a.collection-item(href="https://www.w3schools.com/sql/" target="_blank") W3School SQL
				
	#outdated

block script
	script(src="../components/outdated-browser/outdatedbrowser/outdatedbrowser.min.js")
	script(src="../static/js/outdated.min.js")
	script(src="../components/jquery/dist/jquery.min.js")
	script(src="../components/materialize/dist/js/materialize.min.js")