extends _template

block body
	.section#teaching
		svg.top.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon(points="0 0, 25 0, 0 47")
		svg.bottom.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon.bottom(points="100 75, 100 100, 65 100")
		.row
			.col.s11.l12.offset-s1
				h2.center Teaching
		.row.last
			.container.container-left
				.row#teaching_tiles
					.col.s12.m6
						a.waves-effect.waves-light.tile.modal-trigger(href="bd.html")
							svg(viewBox="0 0 100 100", preserveAspectRatio="none", class="bottom")
								polygon(points="100 100, 80 100, 100 60")
							.center.img-wrapper
								img.responsive-img(src="../static/img/database.jpg")
							span Bazy Danych
					.col.s12.m6
						a.waves-effect.waves-light.tile.modal-trigger(href="inf.html")
							svg(viewBox="0 0 100 100", preserveAspectRatio="none", class="bottom")
								polygon(points="100 100, 80 100, 100 60")
							.center.img-wrapper
								img.responsive-img(src="../static/img/it.jpg")
							span Informatyka
				
	#outdated

block script
	script(src="../components/outdated-browser/outdatedbrowser/outdatedbrowser.min.js")
	script(src="../static/js/outdated.min.js")
	script(src="../components/jquery/dist/jquery.min.js")
	script(src="../components/materialize/dist/js/materialize.min.js")