extends _template

block body
	.section#teaching
		svg.top.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon(points="0 0, 20 0, 0 40")
		svg.bottom.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon.bottom(points="100 65, 100 100, 80 100")
		.row
			.col.s11.l12.offset-s1
				h2.center Informatyka 
		.row.last
			.col.s10.l8.offset-l2.offset-s1
				.row
					.col.s12
						ul.tabs.tabs-fixed-width
							li.tab.col.s4
								a.active(href="#1CT") 1CT
							li.tab.col.s4
								a(href="#3BT") 3BT
							li.tab.col.s4
								a(href="#4BT") 4BT
					.col.s12#1CT
						.row
							h3 Prezentacje
							.collection
								a.collection-item(href="http://prezi.com/a86hoysuqy6o/?utm_campaign=share&utm_medium=copy" target="_blank") Multimedia
								a.collection-item(href="https://docs.google.com/presentation/d/1k9m08TwdVgZhQqKfZcAIcVcTEizLmpfeutFj72VMeFA/edit?usp=sharing" target="_blank") Grafika komputerowa

							h3 Zadania
							.collection
								a.collection-item(href="data/magicavoxel.pdf" target="_blank") MagicaVoxel								
								a.collection-item(href="data/sound.pdf" target="_blank") Dźwięk

							h3 Przydatne linki
							.collection
								a.collection-item(href="https://www.facebook.com/ruchprojektantowgier/" target="_blank") Ruch Projektantów Gier
								a.collection-item(href="https://videos.pexels.com" target="_blank") Stock videos
								a.collection-item(href="https://pixabay.com/" target="_blank") Stock photos
								a.collection-item(href="https://freesound.org/browse/" target="_blank") Stock sounds
								a.collection-item(href="http://freemusicarchive.org/" target="_blank") Stock Music
								a.collection-item(href="https://ephtracy.github.io/" target="_blank") MagicaVoxel

					.col.s12#3BT
						.row
							h3 Prezentacje
							.collection
								a.collection-item(href="https://docs.google.com/presentation/d/1DRSUovzhRrWxDhT1eodoKWTwOweURJsUSA8zDuo1_Sg/edit?usp=sharing" target="_blank") Funkcje, tablice dynamiczne i 2d, zmienne globalne
								a.collection-item(href="https://docs.google.com/presentation/d/1I5NKu6Tu9nE53B0a1a5yivKM7KpqzGp74uCW6AyRkVs/edit?usp=sharing" target="_blank") Funkcje: referencja i rekurencja, liczby pseudolosowe
								a.collection-item(href="https://docs.google.com/presentation/d/1Jvnxa87bs0fHuSFhsza9MvfYVNbZM1sCCLhxww886Nc/edit?usp=sharing" target="_blank") Operacje na plikach, struktury
								a.collection-item(href="https://docs.google.com/presentation/d/1D8PixgEOcjQBtq0HXCSUR6FBqaK-C9f8OSSXU-Z9L74/edit?usp=sharing" target="_blank") Algorytmy sortowania, złożoność obliczeniowa
							h3 Zadania
							.collection
								a.collection-item(href="data/fun1.pdf" target="_blank") Funkcje, tablice dynamiczne i 2d, zmienne globalne
								a.collection-item(href="data/fun2.pdf" target="_blank") Funkcje: Referencja i rekurencja, liczby pseudolosowe
								a.collection-item(href="data/finanse.csv" target="_blank") Excel: Dane
								a.collection-item(href="data/filtry.pdf" target="_blank") Excel: Filtry
								a.collection-item(href="data/sumy.pdf" target="_blank") Excel: Sumy pośrednie
								a.collection-item(href="data/tabele.pdf" target="_blank") Excel: Tabele przestawne
								a.collection-item(href="data/wykresy.pdf" target="_blank") Excel: Wykresy przestawne

							h3 Arkusze maturalne
							.collection
								a.collection-item(href="data/matura2017.zip" target="_blank") Matura 2017
								a.collection-item(href="data/matura2015.zip" target="_blank") Matura 2015

							h3 Projekt
							.collection
								a.collection-item(href="data/proj_prog.pdf" target="_blank") Opis projektu: programowanie
								a.collection-item(href="data/proj_excel.pdf" target="_blank") Opis projektu: excel
								a.collection-item(href="data/proj_access.pdf" target="_blank") Opis projektu: access

							h3 Przydatne linki
							.collection
								a.collection-item(href="https://www.facebook.com/ruchprojektantowgier/" target="_blank") Ruch Projektantów Gier
								a.collection-item(href="http://adventofcode.com/" target="_blank") Advent of Code
								a.collection-item(href="http://www.cplusplus.com" target="_blank") cplusplus.com

					.col.s12#4BT
						.row
							h3 Prezentacje
							.collection
								a.collection-item(href="https://docs.google.com/presentation/d/1D8PixgEOcjQBtq0HXCSUR6FBqaK-C9f8OSSXU-Z9L74/edit?usp=sharing" target="_blank") Algorytmy sortowania, złożoność obliczeniowa
							h3 Zadania
							.collection
								a.collection-item(href="data/finanse.csv" target="_blank") Excel: dane
								a.collection-item(href="data/filtr_sort.pdf" target="_blank") Excel: Filtry, sortowanie, sumy pośrednie
								a.collection-item(href="data/tabele.pdf" target="_blank") Excel: Tabele przestawne
								a.collection-item(href="data/wykresy.pdf" target="_blank") Excel: Wykresy przestawne

							h3 Arkusze maturalne
							.collection
								a.collection-item(href="data/matura2017.zip" target="_blank") Matura 2017
								a.collection-item(href="data/matura2015.zip" target="_blank") Matura 2015

							h3 Przydatne linki
							.collection
								a.collection-item(href="https://www.facebook.com/ruchprojektantowgier/" target="_blank") Ruch Projektantów Gier
								a.collection-item(href="http://adventofcode.com/" target="_blank") Advent of Code
								a.collection-item(href="http://www.cplusplus.com" target="_blank") cplusplus.com
			
	#outdated

block script
	script(src="../components/outdated-browser/outdatedbrowser/outdatedbrowser.min.js")
	script(src="../static/js/outdated.min.js")
	script(src="../components/jquery/dist/jquery.min.js")
	script(src="../components/materialize/dist/js/materialize.min.js")
	script(src="../static/js/teaching.min.js")