extends _template

block body
	.section#teaching
		svg.top.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon(points="0 0, 20 0, 0 40")
		svg.bottom.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon.bottom(points="100 65, 100 100, 75 100")
		.row
			.col.s11.l12.offset-s1
				h2.center Bazy Danych 
		.row.valign-wrapper.center-row.last
			.col.s10.l8.offset-l2.offset-s1.valign
				p.flow-text Hey I'm Michal and this is my portfolio page. I'm IT student from Poland. I want to develop myself in certain directions of IT which are: web and game dev. My thirst for knowledge in that matter knows no bounds. I'm really passionate about web technologies front-end ones like the newest frameworks and design concepts as well as back-end ones. Game creation on the other hand is my hobby. I can really express myself creating them and It's just fun for me. Below you can see some of my projects. If you have any questions regarding them feel free to ask.
				
	#outdated

block script
	script(src="../components/outdated-browser/outdatedbrowser/outdatedbrowser.min.js")
	script(src="../static/js/outdated.min.js")
	script(src="../components/jquery/dist/jquery.min.js")
	script(src="../components/materialize/dist/js/materialize.min.js")