.navbar-fixed.hide-on-large-only
	nav
		.nav-wrapper
			a(href="index.php")
				// img.logo.responsive-img(src="static/img/logo.png")
			a.button-collapse(href="#", data-activates="mobile-nav")
				i.material-icons menu
			ul.side-nav.grey.darken-3#mobile-nav
				li
					a.waves-effect.waves-dark(href="#about_me") About me
				li.divider.grey.darken-4
				li
					a.waves-effect.waves-dark(href="#websites") Websites
				li
					a.waves-effect.waves-dark(href="#games") Games
				li
					a.waves-effect.waves-dark(href="#apps") Apps & more
				li.divider.grey.darken-4
				li
					a.waves-effect.waves-dark(href="#support_me") Support me
				li
					a.waves-effect.waves-dark(href="#contact") Contact