.hide-on-large-only.nav-padding
	#nav-wrapper
		.nav-trigger
			svg(viewbox="0 0 100 100", preserveAspectRatio="none")
				polygon(points="0 0, 100 0, 0 100")
			a.button-collapse(href="#", data-activates="mobile-nav")
				i.fa.fa-bars(aria-hidden="true")

.navbar-fixed.hide-on-large-only
	nav
		.nav-wrapper 
			ul.side-nav.grey.darken-4#mobile-nav
				li
					a.waves-effect.waves-dark(href="#main_section") Home
					a.waves-effect.waves-dark(href="#about_me_section") About me
				li.divider.grey.darken-2
				li
					a.waves-effect.waves-dark(href="#websites_section") Websites
				li
					a.waves-effect.waves-dark(href="#games_section") Games
				li
					a.waves-effect.waves-dark(href="#apps_section") Apps & more
				li.divider.grey.darken-2
				li
					a.waves-effect.waves-dark(href="#support_me_section") Support me
				li
					a.waves-effect.waves-dark(href="#contact_section") Contact

.vertical-bullet-menu.hide-on-med-and-down.close
	ul
		li
			a#previous(href="#") 
				i.fa.fa-chevron-up(aria-hidden="true")
		li
			a(href="#main") 
				i.fa.fa-bullseye(aria-hidden="true")
				span Home
					
		li
			a(href="#about_me") 
				i.fa.fa-bullseye(aria-hidden="true")
				span About&nbsp;me
		li
			a(href="#websites")
				i.fa.fa-bullseye(aria-hidden="true")
				span Websites
		li
			a(href="#games")
				i.fa.fa-bullseye(aria-hidden="true")
				span Games
		li
			a(href="#apps")
				i.fa.fa-bullseye(aria-hidden="true")
				span Apps&nbsp;&&nbsp;more
		li
			a(href="#support_me")
				i.fa.fa-bullseye(aria-hidden="true")
				span Support&nbsp;me
		li
			a(href="#contact") 
				i.fa.fa-bullseye(aria-hidden="true")
				span Contact
		li
			a.disabled#next(href="#") 
				i.fa.fa-chevron-down(aria-hidden="true")