extends _template

block body

	include _navbar.jade 

	.section.scrollspy#main_section(data-section-name="main")
		.hide-on-med-and-down
			svg.top(viewbox="0 0 100 100", preserveAspectRatio="none")
				polygon(points="0 0, 100 0, 100 10, 0 75")
			svg.text(viewbox="0 0 1000 1000", preserveAspectRatio="none")
				defs
					// path#textPath(d="M -50 250 L 600 1050")
					path#textPath(d="M 0 745 L 1000 95")
				text(x="0", y="0", text-anchor="middle")
					textPath(xlink:href="#textPath", startOffset="65%") Yet another portfolio page
			svg.bottom(viewbox="0 0 100 100", preserveAspectRatio="none")
				polygon.bottom(points="0 20, 0 100, 65 100, 65 100")
			a.waves-effect.waves-light.btn.sources(href="https://github.com/druggist") Github sources
			h1.d-header.shake-slow3.shake-constant Druggist
			a.waves-effect.waves-light.btn-floating.btn-huge.more.grey.darken-4(href="#about_me")
				i.fa.fa-arrow-down(aria-hidden="true")
		.hide-on-large-only.center
			h1.d-header.center Druggist
			h2.desc.center Yet another portfolio page
			a.waves-effect.waves-light.btn.sources(href="https://github.com/druggist") Github sources
			a.waves-effect.waves-light.btn-floating.btn-large.more.grey.darken-3(href="#about_me_section")
				i.fa.fa-arrow-down(aria-hidden="true")

	.section.scrollspy#about_me_section(data-section-name="about_me")
		svg.top.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon(points="0 0, 35 0, 0 35")
		svg.bottom.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon.bottom(points="100 65, 100 100, 75 100")
		.row
			.col.s11.l12.offset-s1
				h2.center About me
		.row.valign-wrapper.center-row.last
			.col.s10.l8.offset-l2.offset-s1.valign
				p.flow-text Hey I'm Michal and this is my portfolio page. I'm IT student from Poland. I want to develop myself in certain directions of IT which are: web and game dev. My thirst for knowledge in that matter knows no bounds. I'm really passionate about web technologies front-end ones like the newest frameworks and design concepts as well as back-end ones. Game creation on the other hand is my hobby. I can really express myself creating them and It's just fun for me. Below you can see some of my projects. If you have any questions regarding them feel free to ask.

	.section.scrollspy#websites_section(data-section-name="websites")
		svg.top.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon(points="0 0, 25 0, 0 40")
		svg.bottom.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon.bottom(points="100 75, 100 100, 65 100")
		.row
			.col.s11.l12.offset-s1
				h2.center Websites
		.row.last
			.container.container-left
				.row#website_tiles
	.section.scrollspy#games_section(data-section-name="games")
		svg.top.hide-on-small-only(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon(points="0 0, 15 0, 0 52")
		svg.bottom.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon.bottom(points="100 60, 100 100, 70 100")
		.row
			.col.s11.l12.offset-s1
				h2.center Games
		.row.last
			.container.container-left
				.row#game_tiles

	.section.scrollspy#apps_section(data-section-name="apps")
		svg.top.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon(points="0 0, 25 0, 0 47")
		svg.bottom.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon.bottom(points="100 65, 100 100, 35 100")
		.row
			.col.s11.l12.offset-s1
				h2.center Apps & more
		.row.last
			.container.container-left
				.row#app_tiles

	.section.scrollspy#support_me_section(data-section-name="support_me")
		svg.top.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon(points="100 0, 75 0, 100 90")
		svg.bottom.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon.bottom(points="100 15, 100 100, 70 100")
		svg.text.hide-on-med-and-down(viewbox="0 0 1000 1000", preserveAspectRatio="none")
			defs
				path#textPath2(d="M 737 1000 L 1037 150")
			text(x="0", y="0", text-anchor="middle")
				textPath(xlink:href="#textPath2", startOffset="40%") Like my work?
		.row
			.col.s11.l10.offset-s1.offset-l1
				h2.left-align Buy me a beer
		.row.last
			.col.s12.l3.offset-l2.beer-arrows.hide-on-med-and-down
				.arrows
					.row
						.col.s12
							.arrow#arrow2-wrapper.shake-slow1.shake-constant
								span.upper Click here
								.arrow-img
									img#arrow2(src="static/img/arrow2.svg")
					.row
						.col.s12
							.arrow#arrow1-wrapper.shake-slow2.shake-constant
								span.lower Donate
								.arrow-img
									img#arrow1(src="static/img/arrow1.svg")
			.col.s12.l4
				.beer
					a(href="https://www.paypal.me/SirDruggist")
						img#foam(src="static/img/beer_foam.svg")
						img#glass(src="static/img/beer_glass.svg")
						#filling
							img(src="static/img/beer_filling.svg")
						span.donate.hide-on-large-only Donate

	.section.scrollspy#contact_section(data-section-name="contact")
		svg.top.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon(points="0 0, 50 0, 0 80")
		svg.bottom.hide-on-med-and-down(viewbox="0 0 100 100", preserveAspectRatio="none")
			polygon.bottom(points="0 100, 0 10, 35 100")
		.row
			.col.s10.l11.offset-s1
				h2.right Contact
		.row.last
			.col.s12.l5.offset-l6
				a.contact.waves-effect(href="https://twitter.com/sirDruggist", target="_blank")
					i.fa.fa-twitter(aria-hidden="true")
					span @sirDruggist
						svg.bottom.hide-on-small-only(viewbox="0 0 100 100", preserveAspectRatio="none")
							polygon.bottom(points="100 0, 100 100, 25 100")
			.col.s12.l5.offset-l6
				a.contact.email.waves-effect(href="mailto:m.najdora@gmail.com")
					i.fa.fa-envelope-o(aria-hidden="true")
					span
						svg.bottom.hide-on-small-only(viewbox="0 0 100 100", preserveAspectRatio="none")
							polygon.bottom(points="100 0, 100 100, 25 100")

	.modal#info_modal
		.close-wrapper
			a.close(href="#")
				i.fa.fa-times(aria-hidden="true")
			svg.top(viewbox="0 0 100 100", preserveAspectRatio="none")
				polygon(points="100 100, 0 0, 100 0")
		.row.last
			.col.s12.l9
				.row.last
					.col.s12.l4
						.modal-content.links
							.row
					.col.s12.l8
						.modal-content.main.center
					.col.s12
						.modal-content.description.valign-wrapper
							p.valign.flow-text 
			.col.s12.l3.bottom
				.modal-content.creators.valign-wrapper
					div
						h5 Co-creators:
						ul.creators-list
				.modal-content.software.valign-wrapper
					div
						h5 Software used in this project:
						ul.software-list
	#outdated

block script
	script(src="components/outdated-browser/outdatedbrowser/outdatedbrowser.min.js")
	script(src="static/js/outdated.min.js")
	script(src="components/jquery/dist/jquery.min.js")
	script(src="components/materialize/dist/js/materialize.min.js")
	script(src="components/Scrollify/jquery.scrollify.min.js")
	script(src="static/js/main.min.js")