@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Oswald');

html, body, #root, .App, .container-fluid {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #212121;
}

h1 {
    font-size: 7.5vh;
    font-family: 'Permanent Marker', cursive;
    color: #212121;
    font-weight: 400;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 5vh;
    color: #bdbdbd;
    font-weight: 400;
}